body {
    background-color: #FFF6E5;
    font-family: 'Times New Roman', Times, serif;
    color: #333333;
}

h1 {
    padding: 15px;
    border: 2px solid #4D96FF;
    text-align: center;
    font-size:38px ;
    font-weight: 700;
    background-color: #FFFFFF;
    margin-bottom: 30px;
}

ul {
    list-style: none;
    border: 2px solid #2A2A2A;
    padding: 20px;
    background-color: #636B2F;
    margin: 0 0 20px 0;
}

li {
    padding: 14px 0;
    font-size: 17px;
    line-height: 1.7;
    border-bottom: 1px solid #2A2A2A;
    color: #E0E0E0;
    background-color: #636B2F
}

ol {
    
    border: 2px solid #2A2A2A;
    padding: 20px;
    background-color: #636B2F;
    margin: 0 0 20px 0;
}